<footer class="footer">
    <div class="col-12 footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-12 logo-footer">
                    <img class="logo-img" src="@@url/assets/images/logo.png" alt="logo"/>
                </div>
                <div class="col-lg-10 col-md-8 col-sm-12">
                    <div class="row">
                        <div class="col-12 info-footer">
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12 address-footer">
                                    <ul>
                                        <li>HCMC HEAD OFFICE</li>
                                        <li>
                                            <i class="fas fa-map-marker-alt"></i>
                                            <span> 
                                                HCMC Head Office: 148 Phan Xich Long St., Ward 7, Phu Nhuan Dist., HCMC 
                                            </span>
                                        </li>
                                        <li>
                                            <i class="fas fa-phone-alt"></i>
                                            <span>Tel: (84-28) 3 5172 509 / 11 - 3 5172 601</span>
                                        </li>
                                        <li>
                                            <i class="fas fa-fax"></i>
                                            <span>Fax: (84-28) 3 5172 509 / 11 - 3 5172 601</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 address-footer">
                                    <ul>
                                        <li>HA NOI OFFICE</li>
                                        <li>
                                            <i class="fas fa-map-marker-alt"></i>
                                            <span> 
                                                B22 Trung Hoa, Nhan Chinh, Urban Area, Thanh Xuan, Ha Noi 
                                            </span>
                                        </li>
                                        <li>
                                            <i class="fas fa-phone-alt"></i>
                                            <span>Tel: (84-24) 3 9412 176 / 77</span>
                                        </li>
                                        <li>
                                            <i class="fas fa-fax"></i>
                                            <span>Fax: (84-24) 3 9412 178</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 flag-footer">	
                            <ul>
                                <li>HA NOI OFFICE</li>
                                <li class="flag-logo-wrap">
                                    <div class="flag-logo">
                                        <img src="@@url/assets/images/logo-myanmar.png" alt="logo-flag" />
                                        <span>Myanmar</span>
                                    </div>
                                    <div class="flag-logo">
                                        <img src="@@url/assets/images/logo-indonesia.png" alt="logo-flag" />
                                        <span>Myanmar</span>
                                    </div>
                                    <div class="flag-logo">
                                        <img src="@@url/assets/images/logo-combodia.png" alt="logo-flag" />
                                        <span>Myanmar</span>
                                    </div>
                                    <div class="flag-logo">
                                        <img src="@@url/assets/images/logo-thailand.png" alt="logo-flag" />
                                        <span>Myanmar</span>
                                    </div>
                                    <div class="flag-logo">
                                        <img src="@@url/assets/images/logo-philippines.png" alt="logo-flag" />
                                        <span>Myanmar</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="col-12 copyright">
    <span>Copyright © 2014 BMB Steel. All Rights Reserved. Design by Web Solution</span>
</div>
<!-- End Footer -->
<script src="@@url/assets/js/jquery-3.2.1.min.js"></script>
<script src="@@url/assets/js/bootstrap.min.js"></script>
<script src="@@url/assets/js/swiper.min.js"></script>
<script src="@@url/assets/js/slick.min.js"></script>
<script src="@@url/assets/js/main.js"></script>
</body>

</html>