<div class="header__nav-sp for-sp">
    <div id="menu-toggle" class="menu">
        <img src="@@url/images/menu-icon.png" alt="menu icon">
        <p>MENU</p>
    </div>
    <ul id="menu-content" class="nav">
        <li><a href="#">メッセージ</a></li>
        <li><a href="#">tsnを知る</a></li>
        <li><a href="#">仕事を知る</a></li>
        <li><a href="#">働く仲間を知る</a></li>
        <li><a href="#">研修・キャリア制度を知る</a></li>
        <li><a href="#">勤務エリアを知る</a></li>
        <li><a href="#">よくある筆問</a></li>
    </ul>
</div>