<!DOCTYPE html>
<html lang="">

<head>
    <title>@@title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/44973edb54.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="@@url/assets/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="@@url/assets/css/lib/jquery.fancybox.css">    
    <link rel="stylesheet" href="@@url/assets/css/lib/swiper.min.css"> 
    <link rel="stylesheet" href="@@url/assets/css/lib/slick.css">
    <link rel="stylesheet" href="@@url/assets/css/style.css">
</head>

<body>