<header class="header">
    <div class="top-bar">
        <div class="container">
            <div class="top-bar_wrap">
                <div class="left">
                    <div class="top-bar_address">
                        <i class="fas fa-map-marker-alt"></i><span class="info-head">HCMC Head Office: 148 Phan Xich Long St., Ward 7, Phu Nhuan Dist., HCMC</span>
                    </div>
                </div>
                <div class="right">
                    <div class="top-bar_hotline"><span class="hotline-head">Hotline: <a href="#">(84- 90) 9999 999</a></span></div>
                <div class="top-bar_lang">
                    <div class="d-flex">
                        <div class="social-class">
                            <ul class="list-unstyle">
                                <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#!"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div>
                        <div class="languages">
                            <select name="language">
                                <option value="en">English</option>
                                <option value="vi">Vietnamese</option>
                            </select>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-sm-12 col-md-12 logo">
                    <img src="@@url/assets/images/logo.png" alt="logo"/>
                </div>
                <div class="col-lg-10 col-sm-12 col-md-12">
                    <div class="row">
                        <div class="col-lg-12 col-sm-6 col-md-6 button-download">
                            <div class="button-content">
                                <div class="info-content">
                                    <span>DOWNLOAD</span><br>
                                    <span>BROCHURES</span>
                                </div>
                                <div class="img-content">
                                    <i class="fas fa-download"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-6 col-md-6 menu">
                            <nav class="navbar navbar-expand-lg navbar-light">
                                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                  </button>
                                  <a class="navbar-brand" href="#"></a>

                                  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Company</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link disabled" href="#">Product</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link disabled" href="#">Services</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link disabled" href="#">Project</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link disabled" href="#">PR Center</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link disabled" href="#">BMB Love School</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link disabled" href="#">Careers</a>
                                        </li>
                                    </ul>
                                  </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- End Header -->