html {
    font-size: 10px;
}

body {
    min-width: 1400px;
}

@media screen and (max-width: $br_medium) {
    html {
        font-size: calc(5px + 5 * ((100vw - 375px) / (750 - 375)));
    }
    body {
        min-width: unset;
    }
}

* {
    -webkit-overflow-scrolling: touch;
    word-break: break-word;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
form,
fieldset,
legend,
figure,
table,
th,
td,
caption,
hr {
    margin: 0;
    padding: 0;
}

a,
span {
    display: inline-block;
}