// Color palette
$color_base: #333333;
$color_white: #FFFFFF;
$color_gray: #F0F0F0;
$color_gray_dark: #a0a0a0;
$color_yellow: #FFEA00;
$color_blue: #017ECC;
$color_blue_light: #D9F6FF;
$color_gray_darker: #333333;
$color_gray_dark: #3E3A39;
$color_red: #E73357;